@page "/Admin/Index"
@model Affinity_Affairs.Pages.Admin.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h3 class="my-2 mx-3"><a class="btn btn-primary" asp-page="Create">Create New</a></h3>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventModel[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventModel[0].Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventModel[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventModel[0].Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.EventModel) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
